<%- include ("header.ejs") -%>
<h2>Importance of a To-Do List</h2>
 <p>Not everyone runs on lists. However, if you’re struggling to make sense of your goals, a list could save you time, energy, and the need to come up with excuses for when the thing that needs to happen, well, doesn’t.

    (If you have a word with Oskar Schindler, he’ll tell you that lists can also save lives.)
    
    List-making is pretty personal. Some people border on obsessive about them. Organizing the bathroom can turn into a session of ticking off 1, 2, 3, 4, 5, 6, and 7, rather than a freestyle shift-around between number 2s.
    
    Others prefer less to-doing and fro-ing. They’d rather wing it, writing important telephone numbers on the backs of their hands or sticking Post-its to their leg, “Memento”-style.
    
    However, even the most basic outline of the things you need to do can help you crush your goals and foes. Largely, your goals.
    
    For one thing, the act of writing out a list forces us to set concrete goals (To-do: “Take out the trash.”). This can be way more effective than thinking about vague objectives (To-don’t: Get cleaner).
    
    Plus, making a written list can help us remember important information (meaning that trash won’t sit in the kitchen for weeks, or that if it does, you won’t forget to charge it rent).Trusted Source
    
    The problem is this: Not all lists are created equal.
    
    Even those of us who have bumper stickers that read: “People who make to-do lists tick every box” might not know how to make a successful one. (That’s a terrible bumper sticker, BTW. If it’s real, and you actually have it, add “abandon your vehicle by the side of the road and set it aflame” to the very top of your to-do list.)
    
    Luckily we’re here to help, with a step-by-step guide to creating — and completing — an awesome list of stuff to get done.
    
    </p>
 <%- include ("footer.ejs") -%>